<!DOCTYPE html>
<div class="mail-container">
    <div class="header">
        <img src="cid:logo"/>
        <h1 class="pull-right">
            {{ 'mail.exceptionNotify.subject'|l({'%appName%': appName, '%exceptionClass%': exceptionClass}) }}
        </h1>
    </div>
    <div class="main">
        {{ exceptionRendered|raw }}
    </div>
    <dl>
        <dt>{{ 'mail.exceptionNotify.generatedAt'|l }}</dt>
        <dd><code>{{ generatedAt|date('mail.exceptionNotify.dateTimeFormat'|l) }}</code></dd>
        <dt>{{ 'mail.exceptionNotify.requestUrl'|l }}</dt>
        <dd><a href="{{ url }}">{{ url }}</a></dd>
    </dl>
    <div class="main">
        {{ dump(request) }}
    </div>
    <div class="footer">
        <hr/>
        <p class="text-center small">
            {{ 'mail.exceptionNotify.footer'|l|raw }}
        </p>
    </div>
</div>
