body
  margin: 0
  font-family: 'Ubuntu',Tahoma,'Helvetica Neue',Helvetica,Arial,sans-serif
  font-size: 14px
  line-height: 1.42857143
  color: #333333
  background-color: #ffffff

.mail-container
  padding: 24px 0
  width: 100%
  max-width: 960px
  margin: 0 auto

.header
  background-color: #4a8a67
  margin: 0 0 0 0
  padding: 4px 12px
  clear: both
  img
    height: 48px
    width: 48px
    border: 0
    vertical-align: middle

.main
  padding: 24px

.footer
  margin-top: 12px
  color: #777

h1
  font-size: 24px
  color: #ffffff
  margin: 14px 0 10px 0
  font-family: 'Ubuntu',Tahoma,'Helvetica Neue',Helvetica,Arial,sans-serif
  font-weight: 500
  line-height: 1.1
  float: right !important

h2
  margin: 0
  font-family: 'Ubuntu',Tahoma,'Helvetica Neue',Helvetica,Arial,sans-serif
  font-weight: 500
  line-height: 1.1
  color: inherit
  margin-top: 20px
  margin-bottom: 10px
  font-size: 30px
  .small
    font-weight: normal
    line-height: 1
    color: #aea79f
    font-size: 65%

h3
  margin: 0
  font-family: 'Ubuntu',Tahoma,'Helvetica Neue',Helvetica,Arial,sans-serif
  font-weight: 500
  line-height: 1.1
  color: inherit
  margin-bottom: 10px
  font-size: 24px

p
  margin: 0 0 10px

.small
  font-size: 85%

.text-center
  text-align: center

a
  color: #4a8a67

pre
  overflow: auto
  font-family: 'Ubuntu Mono',Menlo,Monaco,Consolas,'Courier New',monospace
  display: block
  padding: 9.5px
  margin: 0 0 10px
  font-size: 13px
  line-height: 1.42857143
  word-break: break-all
  word-wrap: break-word
  color: #333333
  background-color: #f5f5f5
  border: 1px solid #cccccc
  border-radius: 4px

code
  font-family: 'Ubuntu Mono',Menlo,Monaco,Consolas,'Courier New',monospace
  padding: 2px 4px
  font-size: 90%
  color: #c7254e
  background-color: #f9f2f4
  border-radius: 4px

hr
  height: 0
  margin-top: 20px
  margin-bottom: 20px
  border: 0
  border-top: 1px solid #eeeeee

dl
  dt
    float: left
    width: 160px
    overflow: hidden
    clear: left
    text-align: right
    text-overflow: ellipsis
    white-space: nowrap
    font-weight: bold
  dd
    margin-left: 180px
